.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table{
  position: relative;
}
th{
  position: sticky;
  top: 0px;
  background-color: white;
}
.buttons{
  position: sticky;
  top: 0;
  margin-bottom:10px;
  z-index: 1;
}


.buttonLink {
  
  /* animation: Button-Scale 2s infinite ; */
  animation-name: Button-Scale;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes Button-Scale {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(0.5);
  }

  
}
#avErrorSpan{
  padding-left: 10px;
  color:red;
}
